body
{
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    line-height: 1.6;
}

header, footer
{
    text-align: center;
    margin-bottom: 2rem;
}

header
{
    border: solid;
    border-radius: 30px;
    max-width: 675px;
    margin: auto;
}

h1
{
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

.project
{
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.upcoming
{
    text-align: center;
    margin: 2rem auto;
    max-width: 100%;
}

a
{
    color: #0077cc;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}
