html
{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.LE-logo
{
    width: 200px;
}

.nav-list
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 100px;
}

.nav-list a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid;
    border-radius: 8px;
    padding: 1px 7px;
    background-color: rgb(132, 255, 107);
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 18pt;
}

.nav-link.active
{
    background-color: rgb(87, 224, 52);
    color: white;
    border: solid;
    color: rgb(255, 255, 255);
}

header
{
    background-color: rgba(5, 197, 78, 0.623);
}

footer
{
    background-color: rgb(184, 184, 184);
    padding: 1px 4px;
}

h1
{
    font-size: 36pt;
    text-align: center;
    border: solid;
    padding: 7px 0px;
    background-color: rgba(0, 253, 63, 0.233);
}

h2
{
    font-size: 30px;
    padding: 0px 10px;
}

p
{
    font-size: 16px;
    padding: 0px 14px;
}
h3
{
    font-size: 26pt;
}

form
{
    display: flex;
    flex-direction: column;
    gap: 11px;
    font-size: 16pt;
    max-width: 720px;
    margin: 0 auto;
}

input, textarea
{
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16pt;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

button
{
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16pt;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
}